.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        p{
            transition: .3s;
            font-weight: 600;
            text-transform: uppercase;
            &:hover{
                transition: .3s;
                transform: scale(1.05);
                cursor: pointer;
            }
            a{
                text-decoration: none;
                color: $blackPrincipal;
            }
        }
    }
}